doc/html/
doc/html/*
test/doc/html/
test/doc/html/*
CppClasses.config
CppClasses.creator
CppClasses.files
CppClasses.includes
CppClasses.creator.user*
GenClasses.config
GenClasses.creator
GenClasses.files
GenClasses.includes
GenClasses.creator.user*
*.pro.user*
*~
doc/doxygen_warnings
src/GenClassesConfig.h
